h1 {
    color: var(--whiteColor);
    font-size: 4rem;
    margin: 24px 30px 0;
    text-align: center;
    height: 140px;
    img {
        object-fit: cover;
        object-position: center;
    }
}

.commander {
    display: flex;
    gap: 24px;
    justify-content: space-between;
    margin: 32px 30px 0;
    .commander_text {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--textboxColor);
        padding: 0 20px;
        border-radius: 8px;
        width: 80%;
        p {
            text-align: center;
            color: var(--whiteColor);
            font-size: 1.2rem;
            font-weight: bold;
        }
    }
}

.mission {
    margin: 0 30px 0;
    .mission_text {
        h2 {
            text-align: center;
            font-size: 3.2rem;
            color: var(--goodColor);
        }
    }
    .mission_list_wrapper {
        list-style-type: none;
        margin-top: 16px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        .mission_list_wrap {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 8px;
            .mission_list {
                background-color: var(--mainColor);
                border-radius: 8px;
                display: flex;
                align-items: center;
                gap: 24px;
                padding: 20px;
                width: 85%;
                transition: 0.2s;
                p {
                    font-size: 1.6rem;
                    font-weight: bold;
                }
            }
            .mission_complete {
                background-color: rgba(255, 248, 231, 0.2);
                position: relative;
                &::after {
                    content: "成功";
                    position: absolute;
                    top: 32%;
                    left: 48%;
                    color: var(--goodColor);
                    font-weight: bold;
                    font-size: 1.6rem;
                }
                &::before {
                    content: "";
                    position: absolute;
                    top: 40%;
                    left: 40%;
                    background-image: url(../img/check_icon.svg);
                    width: 15px;
                    height: 15px;
                }
            }
            .change_btn {
                width: 32px;
                height: 32px;
                background-color: var(--mainColor);
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                object-fit: contain;
            }
        }
    }
}

.card {
    margin: 32px 30px 48px;
    .card_top {
        background-color: var(--textboxColor);
        border-radius: 8px 8px 0 0;
        h2 {
            color: var(--whiteColor);
            padding: 4px 18px;
            font-size: 1.6rem;
            font-weight: 1000;
        }
    }
    .character_box {
        background-color: var(--whiteColor);
        padding: 24px 16px 32px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        gap: 16px;
        border-radius: 0 0 8px 8px;
        .character_name {
            display: flex;
            flex-direction: column;
            width: 60%;
            gap: 8px;
            p {
                font-size: 1.2rem;
                font-weight: bold;
            }
            h3 {
                font-size: 1.2rem;
                font-weight: bold;
            }
            section {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                border-bottom: 1px dashed var(--blockColor);
                padding-bottom: 4px;
                span {
                    letter-spacing: -0.05em;
                }
            }
            .point {
                h3 {
                    font-size: 1.6rem;
                    span {
                        font-size: 3.2rem;
                    }
                }
            }
        }
        .character_img {
            width: 100px;
            height: 100px;
            border-radius: 8px;
            overflow: hidden;
            img {
                object-fit: cover;
                object-position: center;
            }
        }
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 200;
    display: flex;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;
    &.active {
        opacity: 1;
        visibility: visible;
        .stamp_text {
            animation: stamp 0.2s cubic-bezier(0.2, 1, 0.3, 1.3) forwards;
        }
    }
    .stamp_wrap {
        display: flex;
        flex-direction: column;
        gap: 160px;
    }
    .stamp_text {
        font-size: 4rem;
        color: var(--goodColor);
        border: 7px solid var(--goodColor);
        border-radius: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px 80px;
        height: 100px;
        margin-top: 250px;
        transform: scale(1) rotate(-10deg) skewX(-20deg);
        opacity: 0;
    }
    /* .result_btn{
        height: 60px;
        background-color: var(--modeBtnColor);
        border-radius: 16px;
        a{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            text-decoration: none;
            color: var(--blockColor);
            font-size: 2.4rem;
            cursor: pointer;
            &:hover{
                background-color: var(--modeBtnHoverColor);
                border-radius: 16px;
            }
        }
    } */
}

@keyframes stamp {
    0% {
        transform: scale(5) rotate(-10deg) skewX(-20deg);
        opacity: 0;
    }
    100% {
        transform: scale(1) rotate(-8deg) skewX(-10deg);
        opacity: 1;
    }
}
