
.room_text_wrap{
    display: flex;
    align-items: center;
    margin: 45px auto 40px 30px;
    gap: 16px;
    .returm_btn{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: var(--grayColor);
        span{
            margin-left: 5px;
            font-size: 1.6rem;
        }
    }
    h1{
        color: var(--whiteColor);
        font-size: 1.6rem;
    }
}

.room_id_box{
    background-color: var(--textboxColor);
    border-radius: 8px;
    margin: auto 30px;
    padding: 20px;
    .room_id_wrap{
        gap: 16px;
        display: flex;
        flex-direction: column;
        .room_id_text{
            display: flex;
            justify-content: space-between;
            color: var(--whiteColor);
            h2{
                font-size: 1.6rem;
            }
        }
        input[type=text]{
            width: 50px;
            height: 70px;
            background-color: var(--grayColor);
            border-radius: 8px;
            font-size: 4rem;
            text-align: center;
        }
        .id_number_wrap{
            display: flex;
            gap: 8px;
        }
    }
}

.rink_btn{
    margin: 32px 30px;
    height: 42px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--grayColor);
    background-color: var(--bgColor);
    color: var(--grayColor);
    transition: 0.2s;
    h3{
        font-size: 1.4rem;
        letter-spacing: 0.2rem;
    }
    &:hover{
        background-color: var(--whiteColor);
        color: var(--textboxColor);
    }
}

.pt_box{
    background-color: var(--textboxColor);
    margin: auto 30px;
    border-radius: 16px;
    padding: 20px;
    .pt_wrap{
        display: flex;
        flex-direction: column;
        gap: 16px;
        h3{
            color: var(--whiteColor);
            font-size: 1.6rem;
        }
        p{
            font-size: 1.4rem;
            color: var(--whiteColor);
            opacity: 0.6;
        }
        .pt_btn_wrap{
            display: flex;
            justify-content: space-between;
            input[type="radio"]{
                display: none;
            }
            label{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 90px;
                height: 70px;
                background-color: var(--grayColor);
                border-radius: 16px;
                cursor: pointer;
                text-align: center;
                box-shadow: 4px 6px 0 var(--blockColor);
                border:  1px solid var(--blockColor);
                transition: 0.2s;
                .num{
                    font-size: 2.4rem;
                    font-weight: bold;
                }
                .unit{
                    font-size: 1.6rem;
                }
            }
            input[type="radio"]:checked + label{
                transform: translateY(6px);
                background-color: var(--whiteColor);
                box-shadow: 0 2px 0 var(--blockColor);
            }
        }
        
    }
}

.people_box{
    background-color: var(--textboxColor);
    margin: 32px 30px 0;
    height: 80px;
    border-radius: 16px;
    padding: 20px;
    .people_wrap{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border:  1px solid tomato;
        .icon_wrap{
        }
        h3{
            font-size: 1.6rem;
            color: var(--whiteColor);
        }
    }
}