
.room_text_wrap{
    display: flex;
    align-items: center;
    margin: 45px auto 40px 30px;
    gap: 16px;
    .returm_btn{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: var(--grayColor);
        span{
            margin-left: 5px;
            font-size: 1.6rem;
        }
    }
    h1{
        color: var(--whiteColor);
        font-size: 1.6rem;
    }
}

.room_id_box{
    background-color: var(--textboxColor);
    border-radius: 8px;
    margin: auto 30px;
    padding: 20px;
    .room_id_wrap{
        gap: 16px;
        display: flex;
        flex-direction: column;
        .room_id_text{
            display: flex;
            justify-content: space-between;
            color: var(--whiteColor);
            h2{
                font-size: 1.6rem;
            }
        }
        input[type=text]{
            width: 50px;
            height: 70px;
            background-color: var(--grayColor);
            border-radius: 8px;
            font-size: 4rem;
            text-align: center;
            /* display: flex;
            align-items: center;
            justify-content: center; */
        }
        .id_number_wrap{
            display: flex;
            gap: 8px;
        }
    }
}